$bg-primary: linear-gradient(90deg, #cf75dd 0%, #f23ea4 100%);
$bg-secondary: linear-gradient(90deg, #f93f95 0%, #ff5f82 100%);
$bg-tertiary: linear-gradient(90deg, #9a58f6 0%, #cf75dd 100%);

$color-primary: #ff1393;
$color-secondary: #4a5565;