@use "../../styles/variables.scss" as *;

.footer {
  margin-top: 2.5rem;
  padding: 1.5rem 1rem 2rem;
  background-color: #f5f5f5;
  border-top: 1px solid rgba(186, 183, 183, 0.3);
  text-align: center;

  p {
    margin: 0;
    font-size: 0.875rem;
    color: $color-secondary;
    opacity: 0.8;
    line-height: 1.5;
  }
}
